@import services.logic.ArmyDto
@(army: ArmyDto)(implicit messages: Messages)

<html>
  <head>
    <style>


    @@page {
      size: A4 landscape;
    }

    table.pdf {
      border-spacing: 0;
    }

    table.pdf td, table.pdf th {
      border: solid 1px #000000;
      padding: 2pt;
    }

    table.pdf td {
      text-align: center;
    }

    table.pdf th {
      background-color: #ababab;
    }

    </style>
  </head>
  <body>

    <h1>Points: @army.points Faction: @army.faction</h1>

    <table class="pdf">
      <thead>
        <th>@Messages("troop.tbl.name")</th>
        <th>@Messages("troop.tbl.type")</th>
        <th>@Messages("troop.tbl.points")</th>
        <th>@Messages("troop.tbl.victoryPoints")</th>
        <th>@Messages("troop.tbl.armour")</th>
        <th>@Messages("troop.tbl.size")</th>
        <th>@Messages("troop.tbl.speed")</th>
        <th>@Messages("troop.tbl.shoot")</th>
        <th>@Messages("troop.tbl.fight")</th>
        <th>@Messages("troop.tbl.survive")</th>
        <th>@Messages("troop.tbl.abilities")</th>
        <th>@Messages("troop.tbl.weapons")</th>
        <th>@Messages("troop.tbl.items")</th>
      </thead>
      <tbody>
      @for(troop <- army.troops) {
        <tr>
          <td>@troop.name</td>
          <td>@troop.modelType</td>
          <td>@troop.points</td>
          <td>@troop.victoryPoints</td>
          <td>@troop.armour</td>
          <td>@troop.size</td>
          <td>@troop.speed - @troop.sprint</td>
          <td>@troop.shoot+</td>
          <td>@troop.fight+</td>
          <td>@troop.survive+</td>
          <td>
          @for(ability <- troop.abilities) {
            @ability.name @if(ability.defaultVal != 0) { (@ability.defaultVal) } <br />
          }
          </td>
          <td>
          @for(weapon <- troop.weapons) {
            @weapon.name

            @if(weapon.shootRange == 0) {RF} else {R@weapon.shootRange}

            @if(weapon.armorPircing != 0) { AP@weapon.armorPircing}

            @for(wability <- weapon.abilities) {
              @wability.name @if(wability.defaultVal != 0) { (@wability.defaultVal) }
            } <br />
          }
          </td>
          <td>
          @for(item <- troop.items) {
            @item.name <br />
          }
          </td>
        </tr>
      }
      </tbody>
    </table>
  </body>
</html>