@import services.logic.ArmyDto
@import services.logic.ArmyPdfInfos
@(army: ArmyDto, armyPdfInfos: ArmyPdfInfos )(implicit messages: Messages)

<html>
  <head>
    <style>


    @@page {
      size: A4 landscape;
    }

    body {
      font-size: 0.8em;
    }

    table.pdf {
      width: 100%;
      border-spacing: 0;
    }

    table.pdf td, table.pdf th {
      border: solid 1px #000000;
      padding: 2pt;
    }


    table.pdf th {
      background-color: #ababab;
    }

    @@page {
      @@bottom-right {
        content: "Page " counter(page) " of " counter(pages);
      }
    }

    </style>
  </head>
  <body>

    <h1>@Messages("army.faction") @army.faction</h1>
    <h2>@Messages("army.points") @army.points</h2>

    <hr />

    <h3>@Messages("army.troops")</h3>

    <table class="pdf">
      <thead>
        <th>@Messages("troop.tbl.name")</th>
        <th>@Messages("troop.tbl.type")</th>
        <th>@Messages("troop.tbl.speed")</th>
        <th>@Messages("troop.tbl.shoot")</th>
        <th>@Messages("troop.tbl.fight")</th>
        <th>@Messages("troop.tbl.survive")</th>
        <th>@Messages("troop.tbl.armour")</th>
        <th>@Messages("troop.tbl.size")</th>
        <th>@Messages("troop.tbl.abilities")</th>
        <th>@Messages("troop.tbl.weapons")</th>
        <th>@Messages("troop.tbl.items")</th>
        <th>@Messages("troop.tbl.points")</th>
        <th>@Messages("troop.tbl.victoryPoints")</th>
      </thead>
      <tbody>
      @for(troop <- army.troops) {
        <tr>
          <td>@troop.name</td>
          <td>@troop.modelType.charAt(0)</td>
          <td>@troop.speed-@troop.sprint</td>
          <td>@troop.shoot+</td>
          <td>@troop.fight+</td>
          <td>@troop.survive+</td>
          <td>@troop.armour</td>
          <td>@troop.size</td>
          <td>
          @for(ability <- troop.abilities) {
            @ability.name @if(ability.defaultVal != 0) { (@ability.defaultVal) } <br />
          }
          </td>
          <td>
          @for(weapon <- troop.weapons) {
            @weapon.name

            @if(weapon.shootRange == 0) {RF} else {R@weapon.shootRange}

            @if(weapon.armorPircing != 0) { AP@weapon.armorPircing}

            @for(wability <- weapon.abilities) {
              @wability.name @if(wability.defaultVal != 0) { (@wability.defaultVal) }
            } <br />
          }
          </td>
          <td>
          @for(item <- troop.items) {
            @item.name <br />
          }
          </td>
          <td>@troop.points</td>
          <td>@troop.victoryPoints</td>
        </tr>
      }
      </tbody>
    </table>


    <hr />

    <h3>@Messages("army.recon.headline")</h3>


    <table class="pdf">
      <thead>
        <tr>
          <th>@Messages("army.recon.troop")</th>
          <th>@Messages("army.recon.recon")</th>
          <th>@Messages("army.recon.special")</th>
          <th>@Messages("army.recon.special.desc")</th>
        </tr>
      </thead>
      <tbody>
      @for(recon <- armyPdfInfos.reconVals) {
        <tr>
          <th>@recon._1</th>
          <td>@recon._2+</td>
          <td>@recon._3</td>
          <td>@Messages("army.special.desc."+recon._3.replace(" ",""))</td>
        </tr>
      }
      </tbody>
    </table>

    <hr />

    <h3>@Messages("army.abilities")</h3>

    <table class="pdf">
      <thead>
        <tr>
          <th>@Messages("ability.name")</th>
          <th>@Messages("ability.desc")</th>
        </tr>
      </thead>
      <tbody>
      @for(ability <- armyPdfInfos.abilities) {
        <tr>
          <th>@ability</th>
          <td>@Html(Messages("ability.desc."+ability.replace(" ","").replace("!","")))</td>
        </tr>
      }
      </tbody>
    </table>
  </body>
</html>