@import killteam.logic.KTWeaponDto
@import killteam.logic.KTFactionDto
@import killteam.logic.KTItemDto
@import killteam.logic.KTAbilityDto
@import killteam.logic.KTFactionInfosDto
@import killteam.logic.ETacticType
@(factionInfo: KTFactionInfosDto,factionName: String, allFactions: List[KTFactionDto])(implicit messages: Messages, mainTpl: views.html.killteamviews.main)

@mainTpl("kt.mainmenu.factionsOverview") {

  <ul class="nav justify-content-center">
    @for(faction <- allFactions) {
      <li class="nav-item">
        <a class="nav-link @if(faction.name == factionName) {disabled}" href="@routes.KTHomeController.displayFactionOverview(faction.name)">@faction.name</a>
      </li>
    }
  </ul>

  <h2>@factionName</h2>

  @views.html.killteamviews.roster.displayWeapons(factionInfo.allWeapons)

  @views.html.killteamviews.roster.displayItems(factionInfo.allItems)

  @views.html.killteamviews.roster.displayAbilities(factionInfo.allAbilities)

  @views.html.killteamviews.roster.displayTacticsTable(ETacticType.FACTION, factionInfo.allTactics)

}