@import killteam.logic.{ETacticType}
@import killteam.logic.KTTacticDto
@(tactics: Map[ETacticType, List[KTTacticDto]])(implicit messages: Messages, mainTpl: views.html.killteamviews.main)

@mainTpl("kt.mainmenu.tacticsOverview") {

  @for((tacticType, tactics) <- tactics) {
    <h5>@Messages(s"kt.tactics.$tacticType.title")</h5>

    @if(tactics.isEmpty) {
      <div class="alert alert-primary" role="alert">
      @Messages(s"kt.tactics.$tacticType.noTactics")
      </div>
    } else {
      @views.html.killteamviews.roster.displayTacticsTable(tacticType, tactics)
    }
  }
}