@import killteam.logic.KTArmyTroopDto
@import org.jboss.logging.Message
@(troops: List[KTArmyTroopDto], troopType: String)(implicit messages: Messages)


<h5>@Messages("kt.troops." + troopType + ".title")</h5>

@if(troops.isEmpty) {
  <div class="alert alert-primary" role="alert">
  @Messages("kt.troops." + troopType + ".noTroops")
  </div>
} else {

  @for(troop <- troops) {
    <div class=" table-responsive-sm">
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>@Messages("kt.troop.tbl.name")</th>
            <th>@Messages("kt.troop.tbl.movement")</th>
            <th>@Messages("kt.troop.tbl.fightStat")</th>
            <th>@Messages("kt.troop.tbl.shootStat")</th>
            <th>@Messages("kt.troop.tbl.strength")</th>
            <th>@Messages("kt.troop.tbl.resistance")</th>
            <th>@Messages("kt.troop.tbl.lifePoints")</th>
            <th>@Messages("kt.troop.tbl.attacks")</th>
            <th>@Messages("kt.troop.tbl.moral")</th>
            <th>@Messages("kt.troop.tbl.armor")</th>
            <th>@Messages("kt.troop.tbl.points")</th>
            <th>@Messages("kt.troop.tbl.abilities")</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>@troop.name</td>
            <td>@troop.stats.movement"</td>
            <td>@troop.stats.fightStat+</td>
            <td>@troop.stats.shootStat+</td>
            <td>@troop.stats.strength</td>
            <td>@troop.stats.resistance</td>
            <td>@troop.stats.lifePoints</td>
            <td>@troop.stats.attacks</td>
            <td>@troop.stats.moral</td>
            <td>@troop.stats.armor+</td>
            <td>@troop.totalPoints</td>
            <td>
              @if(troop.abilities.isEmpty == false) {
                <ul>
                  @for(ability <- troop.abilities) {
                    <li>@ability.name</li>
                  }
                </ul>
              }
            </td>
          </tr>


          <tr>
            <td>
              <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-info btn-sm roster_edit_btn"><i class="fas fa-edit fa-xs"></i></button>
                <button class="btn btn-warning roster_clone_btn"><i class="fas fa-clone fa-xs"></i></button>
                <a class="btn btn-danger roster_del_btn" href="@routes.KTRosterController.removeTroopFromArmy(troop.uuid)"><i class="fas fa-trash fa-xs"></i></a>
              </div>
            </td>
            <td colspan="11">

              @* weapons *@
              <table class="table table-sm table-bordered">
                <thead class="thead-dark">
                  <th colspan="9">@Messages("kt.weapon.tbl.title")</th>
                  <tr>
                    <th>@Messages("kt.weapon.tbl.name")</th>
                    <th>@Messages("kt.weapon.tbl.range")</th>
                    <th>@Messages("kt.weapon.tbl.type")</th>
                    <th>@Messages("kt.weapon.tbl.strength")</th>
                    <th>@Messages("kt.weapon.tbl.puncture")</th>
                    <th>@Messages("kt.weapon.tbl.damage")</th>
                    <th>@Messages("kt.weapon.tbl.points")</th>
                    <th>@Messages("kt.weapon.tbl.description")</th>
                  </tr>
                </thead>
                <tbody>
                  @for(weapon <- troop.weapons) {
                    <tr>
                      <td>@weapon.name</td>
                      <td>@weapon.range" </td>
                      <td>@weapon.weaponType</td>
                      <td>@weapon.strength</td>
                      <td>@weapon.puncture</td>
                      <td>@weapon.damage</td>
                      <td>@weapon.points</td>
                      <td>TODO</td>
                    </tr>
                  }
                </tbody>
              </table>
              @* eo weapons *@

              @* items *@
              @if(troop.allItems.isEmpty == false) {
                <table class="table table-sm table-bordered">
                  <thead class="thead-dark">
                    <th colspan="9">@Messages("kt.item.tbl.title")</th>
                    <tr>
                      <th>@Messages("kt.item.tbl.name")</th>
                      <th>@Messages("kt.item.tbl.points")</th>
                      <th>@Messages("kt.item.tbl.description")</th>
                    </tr>
                  </thead>
                  <tbody>
                  @for(item <- troop.allItems) {
                    <tr>
                      <td>@item.name</td>
                      <td>@item.points</td>
                      <td>TODO</td>
                    </tr>
                  }
                  </tbody>
                </table>
              }

            </td>
          </tr>

        </tbody>
      </table>
    </div>
  }
}