logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

.~lock.*
docker_runtimes/dev_deadzone_dockercompose/test/
docker_runtimes/deadzone_dockercompose/data/
docker_runtimes/deadzone_dockercompose/deadzone-roster.conf
