@(items: List[killteam.logic.KTItemDto])(implicit messages: Messages)
@if(items.isEmpty == false) {
  <table class="table table-sm table-bordered">
    <thead class="thead-dark">
      <th colspan="3">@Messages("kt.item.tbl.title")</th>
      <tr>
        <th>@Messages("kt.item.tbl.name")</th>
        <th>@Messages("kt.item.tbl.points")</th>
        <th>@Messages("kt.item.tbl.description")</th>
      </tr>
    </thead>
    <tbody>
      @for(item <- items) {
        <tr>
          <th scope="row">@item.name</th>
          <td>@item.points</td>
          <td>TODO</td>
        </tr>
      }
    </tbody>
  </table>
}