@(itemOptions: List[killteam.logic.KTItemOptionDto])(implicit messages: Messages)
@if(itemOptions.isEmpty == false) {
  <table class="table table-sm table-bordered">
    <thead class="thead-dark">
      <th colspan="4">@Messages("kt.item.tbl.title")</th>
      <tr>
        <th>@Messages("kt.item.tbl.name")</th>
        <th>@Messages("kt.item.tbl.points")</th>
        <th>@Messages("kt.item.tbl.description")</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(itemOption <- itemOptions) {
        <tr @if(itemOption.selected) {class="bg-success"}>
          <th scope="row">@itemOption.item.name</th>
          <td>@itemOption.item.points</td>
          <td>TODO</td>
          <td>
            @if(itemOption.selected == false) {
              <a href="" class="btn btn-sm btn-primary">Set</a>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
}