@import killteam.logic.KTSpecialOptionDto
@import killteam.logic.KTArmyTroopDto
@(specialOption: KTSpecialOptionDto, troop: KTArmyTroopDto)

<table class="table table-sm ">
  <thead class="thead-dark @if(specialOption.selected) { bg-success }">
    <tr>
      <th>@specialOption.name </th>
      <th>@specialOption.level</th>
      <th>
      @if(specialOption.selected == false) {
        <a href="@routes.KTRosterController.addSpecialToTroop(troop.uuid, specialOption.name, specialOption.level)">SET MET</a>
      }
      </th>
    </tr>
  </thead>
  <tbody>
  @if(specialOption.subSpecials.isEmpty == false && specialOption.selected) {
    <tr>
      <td colspan="3">
        <table class="table table-sm">
          <tbody>
            <tr>
            @for(subSpecial <- specialOption.subSpecials) {
              <td>
              @views.html.killteamviews.roster.displaySpecial(subSpecial, troop)
              </td>
            }
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  }
  </tbody>
</table>