@(troopConfigOptions: killteam.logic.KTTroopOptionsDto)(implicit messages: Messages)

@if(troopConfigOptions.specialistsOption.isEmpty == false) {
  <table class="table table-sm table-bordered">
    <thead class="thead-dark">
      <tr>
        <th colspan="2">@Messages("kt.troop.specialists.title")</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-white">
        @troopConfigOptions.specialistsOption.get.name
        </td>
      </tr>
      <tr>
        <td>
        @views.html.killteamviews.roster.displaySpecial(troopConfigOptions.specialistsOption.get.baseSpecial.get,troopConfigOptions.troop,troopConfigOptions.specialistsOption.get)
        </td>
      </tr>
    </tbody>
  </table>
}