@import killteam.logic.KTArmyDto
@import killteam.logic.ETacticType
@(army: KTArmyDto)(implicit messages: Messages)

@for((tacticType, tactics) <- army.tactics) {
  <h5>@Messages(s"kt.tactics.$tacticType.title")</h5>


  @if(tactics.isEmpty) {
    <div class="alert alert-primary" role="alert">
    @Messages(s"kt.tactics.$tacticType.noTactics")
    </div>
  } else {


    <div class=" table-responsive-sm">
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>@Messages("kt.tactics.name")</th>
            @if(tacticType == ETacticType.SPECIALIST) {
              <th>@Messages("kt.tactics.specialist")</th>
              <th>@Messages("kt.tactics.level")</th>
            }
            <th>@Messages("kt.tactics.description")</th>
            <th>@Messages("kt.tactics.commandPoints")</th>
          </tr>
      </thead>
        <tbody>
          @for(tactic <- tactics) {
           <tr>
             <td>@tactic.name</td>
             @if(tacticType == ETacticType.SPECIALIST) {
               <td>@tactic.specialist</td>
               <td>@tactic.specialistLevel</td>
             }
             <td>
               @if(tacticType == ETacticType.SPECIALIST) {
                 @Messages(FixMessagesKey.fixKey(s"kt.tactic.${tacticType}.${tactic.specialist}.${tactic.name}.descr"))
               }

               @if(tacticType == ETacticType.GENERAL) {
                 @Messages(FixMessagesKey.fixKey(s"kt.tactic.${tacticType}.${tactic.name}.descr"))
               }

               @if(tacticType == ETacticType.FACTION) {
                 @Messages(FixMessagesKey.fixKey(s"kt.tactic.${tacticType}.${tactic.faction}.${tactic.name}.descr"))
               }
             </td>
             <td>@tactic.commandPoints</td>
           </tr>
          }
        </tbody>
      </table>
    </div>
  }

}




