@(weapons: List[killteam.logic.KTWeaponDto])(implicit messages: Messages)
<table class="table table-sm table-bordered">
  <thead class="thead-dark">
    <th colspan="9">@Messages("kt.weapon.tbl.title")</th>
    <tr>
      <th>@Messages("kt.weapon.tbl.name")</th>
      <th>@Messages("kt.weapon.tbl.range")</th>
      <th>@Messages("kt.weapon.tbl.type")</th>
      <th>@Messages("kt.weapon.tbl.strength")</th>
      <th>@Messages("kt.weapon.tbl.puncture")</th>
      <th>@Messages("kt.weapon.tbl.damage")</th>
      <th>@Messages("kt.weapon.tbl.points")</th>
      <th>@Messages("kt.weapon.tbl.description")</th>
    </tr>
  </thead>
  <tbody>
  @for(weapon <- weapons) {
    <tr>
      <th scope="row">@weapon.name</th>
      <td>@weapon.range" </td>
      <td>@weapon.weaponType</td>
      <td>@weapon.strength</td>
      <td>@weapon.puncture</td>
      <td>@weapon.damage</td>
      <td>@weapon.points</td>
      <td>TODO</td>
    </tr>
  }
  </tbody>
</table>