@import killteam.logic.{KTArmyTroopDto, KTSpecialOptionDto, KTSpecialistOptionDto}
@(specialOption: KTSpecialOptionDto, troop: KTArmyTroopDto, specialist: KTSpecialistOptionDto)(implicit messages: Messages)

<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th class="col-sm-1">
        @if(specialOption.selected == false) {
          @views.html.killteamviews.roster.checkBoxBtn(Some(routes.KTRosterController.addSpecialToTroop(troop.uuid, specialOption.name, specialOption.level)), false, "bg-outline-light")
        } else {
          @views.html.killteamviews.roster.checkBoxBtn(Some(routes.KTRosterController.setLevelAtTroop(troop.uuid, specialOption.level - 1)), true, "bg-outline-light")
        }

        @specialOption.name
      </th>
    </tr>

    <tr>
      <td>
      @Messages(FixMessagesKey.fixKey(s"kt.special.${specialist.name}.${specialOption.name}.descr"))
      </td>
    </tr>

  </thead>
  @if(specialOption.subSpecials.isEmpty == false && specialOption.selected) {
    <tbody>
      <tr>
        <td>
          <table class="table table-sm">
            <tbody>
              <tr>
              @for(subSpecial <- specialOption.subSpecials) {
                @if(subSpecial.level <= troop.level && subSpecial.selected == true || subSpecial.level > troop.level) {
                  <td>
                  @views.html.killteamviews.roster.displaySpecial(subSpecial, troop, specialist)
                  </td>
                }
              }
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  }
</table>