@import killteam.logic.KTTroopOptionsDto
@(troopConfigOptions: KTTroopOptionsDto)(implicit messages: Messages)
@if(troopConfigOptions.itemOptions.isEmpty == false) {
  <table class="table table-sm table-bordered">
    <thead class="thead-dark">
      <th colspan="4">@Messages("kt.item.tbl.title")</th>
      <tr>
        <th></th>
        <th>@Messages("kt.item.tbl.name")</th>
        <th>@Messages("kt.item.tbl.points")</th>
        <th>@Messages("kt.item.tbl.description")</th>
      </tr>
    </thead>
    <tbody>
    @for(itemOption <- troopConfigOptions.itemOptions) {
      <tr>
        <th>
        @views.html.killteamviews.roster.checkBoxBtn(if(loadoutOption.selected == false && loadoutOption.selectable) {
          Some(routes.KTRosterController.setNewLoadoutAtTroop(troopConfigOptions.troop.uuid, loadoutOption.loadout.name)  ) }
        else { None })
        </th>
        <th scope="row">@itemOption.item.name</th>
        <td>@itemOption.item.points</td>
        <td>@Messages(FixMessagesKey.fixKey(s"kt.item.${itemOption.item.faction}.${itemOption.item.name}.descr"))</td>
        <td>
        @if(itemOption.selected == false) {
          <a href="@routes.KTRosterController.addItemToTroop(troopConfigOptions.troop.uuid, itemOption.item.name)" class="btn btn-sm btn-primary">
            Set</a>
        } else {
          <a href="@routes.KTRosterController.removeItemFromTroop(troopConfigOptions.troop.uuid, itemOption.item.name)" class="btn btn-sm btn-primary">
            Rem</a>
        }
        </td>
      </tr>
    }
    </tbody>
  </table>
}