@import killteam.logic.KTSpecialistTroopDto
@(troopSpecialist:Option[KTSpecialistTroopDto])(implicit messages: Messages)
@if(troopSpecialist.isDefined) {
  <table class="table table-sm table-bordered">
    <thead class="thead-dark">
      <th colspan="4">@Messages("kt.specialist.tbl.title"): @troopSpecialist.get.name</th>
      <tr>
        <th>@Messages("kt.special.tbl.name")</th>
        <th>@Messages("kt.special.tbl.level")</th>
        <th>@Messages("kt.special.tbl.description")</th>
        <th>@Messages("kt.special.tbl.require")</th>
      </tr>
    </thead>
    <tbody>
    @for(special <- troopSpecialist.get.selectedSpecials) {
      <tr>
        <th scope="row">@special.name</th>
        <td>@special.level</td>
        <td>
          @Messages(FixMessagesKey.fixKey(s"kt.special.${troopSpecialist.get.name}.${special.name}.descr"))
        </td>
        <td>@special.requires</td>
      </tr>
    }
    </tbody>
  </table>
}