@import killteam.logic.KTArmyTroopDto
@(troopConfigOptions: Option[killteam.logic.KTTroopOptionsDto], troop: KTArmyTroopDto)(implicit messages: Messages)

<div class=" table-responsive-sm">

  <h4>EEEEDIITTTIITIITIT</h4>


  @views.html.killteamviews.roster.displaySpecialist(troopConfigOptions.get.specialistsOption, troop)

  @views.html.killteamviews.roster.loadoutsDisplay(troopConfigOptions.get.loadoutOptions, troop)

  @views.html.killteamviews.roster.displayEditItems(troopConfigOptions.get.itemOptions)
</div>

