@import killteam.logic.KTArmyTroopDto
@(troopConfigOptions: Option[killteam.logic.KTTroopOptionsDto], troop: KTArmyTroopDto)(implicit messages: Messages)

<div class=" table-responsive-sm">

  <h4>EEEEDIITTTIITIITIT</h4>


  @views.html.killteamviews.roster.displaySpecialists(troopConfigOptions.get.specialistsOption, troop)


  @views.html.killteamviews.roster.loadoutsDisplay(troopConfigOptions.get.loadoutOptions)


  @views.html.killteamviews.roster.displayItems(troopConfigOptions.get.items)


</div>

