@(troopConfigOptions: Option[killteam.logic.KTTroopOptionsDto])(implicit messages: Messages)

<div class=" table-responsive-sm">

  <h4>EEEEDIITTTIITIITIT</h4>

  @if(troopConfigOptions.get.specialists.isEmpty == false) {
    <table class="table table-sm table-bordered">
      <thead class="thead-dark">
        <tr>
          <th colspan="2">@Messages("kt.troop.specialists.title")</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td text-white">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="troop_specialist" id="exampleRadios1" value="">
              <label class="form-check-label" for="exampleRadios1">
              Nöööö
              </label>
            </div>
          </td>
        </tr>

      @for(specialist <- troopConfigOptions.get.specialists) {
        <tr>
          <td class="@if(specialist.selected) {bg-success} else {bg-info} text-white">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="troop_specialist" id="exampleRadios1" value="@specialist.name" @if(specialist.selected) {checked}>
              <label class="form-check-label" for="exampleRadios1">
              @specialist.name
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            @views.html.killteamviews.roster.displaySpecial(specialist.baseSpecial)
          </td>
        </tr>
      }
      </tbody>
    </table>
  }

  <table class="table table-sm table-bordered">
    <thead class="thead-dark">
      <tr>
        <th colspan="2">@Messages("kt.troop.loadouts.title")</th>
      </tr>
    </thead>
    <tbody>
    @for(loadoutOption <- troopConfigOptions.get.loadoutOptions) {
      <tr>
        <td colspan="2" class="@if(loadoutOption.selected) {bg-success} else {bg-info} text-white">@loadoutOption.loadout.name (@Messages("kt.troop.loadouts.points") @loadoutOption.loadout.points)</td>
      </tr>
      <tr>
        <td>adasasdasd</td>
        <td>
          @views.html.killteamviews.roster.displayWeapons(loadoutOption.loadout.weapons)
          @views.html.killteamviews.roster.displayItems(loadoutOption.loadout.items)
        </td>
      </tr>
    }
    </tbody>
  </table>

  @views.html.killteamviews.roster.displayItems(troopConfigOptions.get.items)



</div>

