@import killteam.logic.KTTroopOptionsDto
@(troopConfigOptions: KTTroopOptionsDto)(implicit messages: Messages)

<table class="table table-sm table-bordered">
  <thead class="thead-dark">
    <tr>
      <th colspan="7">@Messages("kt.troop.loadouts.title")</th>
    </tr>
    <tr>
      <th></th>
      <th>@Messages("kt.loadout.name")</th>
      <th>@Messages("kt.loadout.weapons")</th>
      <th>@Messages("kt.loadout.items")</th>
      <th>@Messages("kt.loadout.points")</th>
      <th>@Messages("kt.loadout.unit")</th>
      <th>@Messages("kt.loadout.max")</th>
    </tr>
  </thead>
  <tbody>
  @for((loadoutOption, loadoutIndex) <- troopConfigOptions.loadoutOptions.zipWithIndex) {
    <tr>
      <td>
        @views.html.killteamviews.roster.checkBoxBtn(if(loadoutOption.selected == false && loadoutOption.selectable) {
          Some(routes.KTRosterController.setNewLoadoutAtTroop(troopConfigOptions.troop.uuid, loadoutOption.loadout.name)  ) }
        else { None })
      </td>
      <th scope="row">
        <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#collapse@loadoutIndex">
        @loadoutOption.loadout.name
        </button>
      </th>
      <td>@loadoutOption.loadout.weapons.map(_.name).mkString(" / ")</td>
      <td>@loadoutOption.loadout.items.map(_.name).mkString(" / ")</td>
      <td>@loadoutOption.loadout.points</td>
      <td>@loadoutOption.loadout.unit</td>
      <td>@if(loadoutOption.loadout.maxPerUnit > 0) {
        @loadoutOption.loadout.maxPerUnit
      } else { - }
      </td>

    </tr>
    <tr id="collapse@loadoutIndex" class="collapse">
      <td></td>
      <td colspan="7">
        @views.html.killteamviews.roster.displayWeapons(loadoutOption.loadout.weapons)
        @views.html.killteamviews.roster.displayItems(loadoutOption.loadout.items)
      </td>
    </tr>

  }
  </tbody>
</table>