@(armyDto: killteam.logic.KTArmyDto)(implicit messages: Messages, mainTpl: views.html.killteamviews.main)

@scripts = {
  <script type="text/javascript" src="@routes.Assets.versioned("javascripts/killteam/roster_main.js")"> </script>
}


@mainTpl("mainmenu.roster", scripts) {

  <div class="row">

    <div class="col-sm-3">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">@Messages("faction.select")</span>
        </div>
        <select class="form-control" id="roster_faction_select"></select>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">@Messages("troop.select")</span>
        </div>
        <select class="form-control " id="roster_addTroop_select"></select>
      </div>
    </div>

    <div class="col-sm-1">
      <button class="btn btn-sm btn-info" id="roster_addTroop_btn"><i class="fas fa-plus-square"></i> <small>@Messages("troop.addBtn")</small></button>
    </div>
    <div class="col-sm-3">
      <img src="" id="roster_troop_img" style="display: none;" />
    </div>
  </div>

  <hr />

  <div class="row">

    <div class="col-sm-6">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">@Messages("army.name")</span>
        </div>
        <input type="text" class="form-control" id="roster_army_name" />
      </div>
    </div>

    <div class="col-sm-6">
      @views.html.roster.rosterActions()
    </div>
  </div>


  <hr />

  <h6>
    <span><strong>@Messages("army.points") </strong></span>
    <span class="badge badge-pill badge-primary">@armyDto.points</span>

    <span><strong>@Messages("army.faction") </strong></span>
    <span>@armyDto.faction</span>
  </h6>

  <hr />

  @* leader troop *@
  @views.html.killteamviews.roster.displayTroopTypeTable(killteam.logic.KTArmyLogic.getLeadersFromArmy(armyDto),"leader")
  @* eo leader troop *@

  @* special troops *@
  @views.html.killteamviews.roster.displayTroopTypeTable(killteam.logic.KTArmyLogic.getSpecialistsFromArmy(armyDto),"specialist")
  @* eo special troops *@

  @* normal troops *@
  @views.html.killteamviews.roster.displayTroopTypeTable(killteam.logic.KTArmyLogic.getNormalTroopsFromArmy(armyDto),"normal")
  @* eo normal troops *@



  @views.html.roster.rosterTroopEditModal()
  @views.html.roster.rosterValidateModal()
  @views.html.roster.rosterImportModal()

}
