@(abilities: List[killteam.logic.KTAbilityDto])(implicit messages: Messages)
@if(abilities.isEmpty == false) {
  <table class="pdf">
    <thead class="thead-dark">
      <th colspan="2">@Messages("kt.ability.tbl.title")</th>
      <tr>
        <th>@Messages("kt.ability.tbl.name")</th>
        <th>@Messages("kt.ability.tbl.description")</th>
      </tr>
    </thead>
    <tbody>
      @for(ability <- abilities) {
        <tr>
          <td>@ability.name</td>
          <td>@Messages(FixMessagesKey.fixKey(s"kt.ability.${ability.faction}.${ability.name}.descr"))</td>
        </tr>
      }
    </tbody>
  </table>
}