@import killteam.logic.KTArmyDto
@import killteam.logic.ETacticType
@(army: KTArmyDto)(implicit messages: Messages)

@for((tacticType, tactics) <- army.tactics) {
  @if(tactics.isEmpty == false) {
    <div style="page-break-inside: avoid">
      <h3>@Messages(s"kt.tactics.$tacticType.title")</h3>
      <hr />

      <table class="pdf">
        <thead class="thead-dark">
          <tr>
            <th>@Messages("kt.tactics.name")</th>
            @if(tacticType == ETacticType.SPECIALIST) {
              <th>@Messages("kt.tactics.specialist")</th>
              <th>@Messages("kt.tactics.level")</th>
            }
            <th>@Messages("kt.tactics.description")</th>
            <th>@Messages("kt.tactics.commandPoints")</th>
          </tr>
        </thead>
        <tbody>
        @for(tactic <- tactics) {
          <tr>
            <td>@tactic.name</td>
            @if(tacticType == ETacticType.SPECIALIST) {
              <td>@tactic.specialist</td>
              <td>@tactic.specialistLevel</td>
            }
            <td>
              @if(tacticType == ETacticType.SPECIALIST) {
                @Messages(FixMessagesKey.fixKey(s"kt.tactic.${tacticType}.${tactic.specialist}.${tactic.name}.descr"))
              }

              @if(tacticType == ETacticType.GENERAL) {
                @Messages(FixMessagesKey.fixKey(s"kt.tactic.${tacticType}.${tactic.name}.descr"))
              }

              @if(tacticType == ETacticType.FACTION) {
                @Messages(FixMessagesKey.fixKey(s"kt.tactic.${tacticType}.${tactic.faction}.${tactic.name}.descr"))
              }
            </td>
            <td>@tactic.commandPoints</td>
          </tr>
        }
        </tbody>
      </table>
      <hr />
    </div>
  }

}




