@()(implicit messages: Messages)



<table class="table cheatSheetTable">
  <tbody>
    <tr>

      @* LEFT SIDE *@
      <td>

        @cheatsheet.cheatSheetPanel("cheatSheet.setupGame.title") {
          <ul>
          @Html(Messages("cheatSheet.setupGame.content"))
          </ul>
        }

        @cheatsheet.cheatSheetPanel("cheatSheet.actions.title") {
          <ul>
          @Html(Messages("cheatSheet.actions.content"))
          </ul>
        }

        @cheatsheet.cheatSheetPanel("cheatSheet.shootmodifiers.title") {
          <ul>
          @Html(Messages("cheatSheet.shootmodifiers.content"))
          </ul>
        }

        @cheatsheet.cheatSheetPanel("cheatSheet.damage.title") {
          <table class="table table-sm table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>@Messages("cheatSheet.damage.content.col1")</th>
                <th>@Messages("cheatSheet.damage.content.col2")</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>@Messages("cheatSheet.damage.content.table.damage0.title")</td>
                <td>@Messages("cheatSheet.damage.content.table.damage0.content")</td>
              </tr>
              <tr>
                <td>@Messages("cheatSheet.damage.content.table.damage1Plus.title")</td>
                <td>@Messages("cheatSheet.damage.content.table.damage1Plus.content")</td>
              </tr>
              <tr>
                <td>@Messages("cheatSheet.damage.content.table.damagebiggersize.title")</td>
                <td>@Messages("cheatSheet.damage.content.table.damagebiggersize.content")</td>
              </tr>
            </tbody>
          </table>
        }

      </td>
      @* EO LEFT SIDE *@

      @* RIGHT SIDE *@
      <td>
        @cheatsheet.cheatSheetPanel(Messages("cheatSheet.fightmodifiers.title")) {
          @Html(Messages("cheatSheet.fightmodifiers.content1"))
          <ul>
          @Html(Messages("cheatSheet.fightmodifiers.content2"))
          </ul>
        }

        @cheatsheet.cheatSheetPanel(Messages("cheatSheet.slammedIntoWall.title")) {
          @Html(Messages("cheatSheet.slammedIntoWall.content1"))
          <ul>
          @Html(Messages("cheatSheet.slammedIntoWall.content2"))
          </ul>
        }

        @cheatsheet.cheatSheetPanel(Messages("cheatSheet.falling.title")) {
          @Html(Messages("cheatSheet.falling.content1"))
          <ul>
          @Html(Messages("cheatSheet.falling.content2"))
          </ul>
        }

        @cheatsheet.cheatSheetPanel(Messages("cheatSheet.knockback.title")) {
          @Messages("cheatSheet.knockback.content")
        }

        @cheatsheet.cheatSheetPanel(Messages("cheatSheet.frag.title")) {
          @Html(Messages("cheatSheet.frag.content1"))
          <ul>
          @Html(Messages("cheatSheet.frag.content2"))
          </ul>
        }

      </td>
      @* EO RIGHT SIDE *@

    </tr>
  </tbody>
</table>


<table class="pdf cheatSheetCommand" style="page-break-before: always">
  <thead>
    <tr>
      <th class="firstCol"></th>
      <th>@Messages("cheatSheet.commandDice.table.result")</th>
      <th>@Messages("cheatSheet.commandDice.table.command")</th>
      <th>@Messages("cheatSheet.commandDice.table.description")</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th></th>
      <td class="text-center">1</td>
      <td>@Messages("cheatSheet.commandDice.modelActivation")</td>
      <td>@Messages("cheatSheet.commandDice.modelActivation.desc")</td>
    </tr>

    <tr>
      <th></th>
      <td class="text-center">2</td>
      <td>@Messages("cheatSheet.commandDice.plusDice")</td>
      <td>@Messages("cheatSheet.commandDice.plusDice.desc")</td>
    </tr>

    <tr>
      <th></th>
      <td class="text-center">3</td>
      <td>@Messages("cheatSheet.commandDice.additionalMove")</td>
      <td>@Messages("cheatSheet.commandDice.additionalMove.desc")</td>
    </tr>

    <tr>
      <th></th>
      <td class="text-center">4</td>
      <td>@Messages("cheatSheet.commandDice.additionalShoot")</td>
      <td>@Messages("cheatSheet.commandDice.additionalShoot.desc")</td>
    </tr>

    <tr>
      <th></th>
      <td class="text-center">5</td>
      <td>@Messages("cheatSheet.commandDice.additionalFight")</td>
      <td>@Messages("cheatSheet.commandDice.additionalFight.desc")</td>
    </tr>

    <tr>
      <th></th>
      <td class="text-center">6</td>
      <td>@Messages("cheatSheet.commandDice.armySpecial")</td>
      <td>@Messages("cheatSheet.commandDice.armySpecial.desc")</td>
    </tr>

  </tbody>
</table>
