@()(implicit messages: Messages)

@main(Messages("mainmenu.cheatsheet")) {
  <h4>@Messages("cheatSheet.title")</h4>

  <div class="row">

    @* LEFT SIDE *@
    <div class="col-md-6">




      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">@Messages("cheatSheet.setupGame.title")</h3>
          </div>
          <div class="panel-body">

          </div>
        </div>

      </div>

    </div>
    @* EO LEFT SIDE *@

    @* RIGHT SIDE *@
    <div class="col-md-6">

    </div>
    @* EO RIGHT SIDE *@

  </div>
}