@page {
  size: A4 landscape;
  margin: 5mm;

  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
  }
}

@greyBackground: #ababab;
@lightGreyBackground: #C3C3C3;

body {
  font-size: 0.8em;
}

// handle panels
/*.card {

  .card-body {
    padding-top: 1mm;

    font-size: 1.1em;

    ul {
      padding-left: 2mm;
      margin-bottom: 0mm;
    }
  }

  .card-header {
    background-color: @lightGreyBackground !important;

    h6.card-title {
      font-size: 1.2em;
    }
  }
} */

.card {
  border: solid 1px @greyBackground;

  margin-bottom: 1mm;
  margin-right: 1mm;

  .card-body {
    padding-top: 1mm;
  }

  ul {
    margin-bottom: 1mm;
  }

  .card-header {
    //margin-bottom: 1mm;
    padding-bottom: 0mm;
    background-color: @lightGreyBackground !important;
  }
}

// remove borders from the table
table.cheatSheetTable {
  td {
    border: none 0px !important;
  }

  p {
    margin-bottom: 1mm;
  }
}

table {
  thead.thead-dark {
    background-color: @greyBackground !important;
  }
}

table.pdf {
  width: 100%;
  border-spacing: 0;

  td, th {
    border: solid 1px #000000;
    padding: 2pt;
  }

  td, tbody th {
    border-top: none 0px;
  }

  th {
    background-color: @greyBackground !important;
  }

  td {
    vertical-align: top;
  }
}

table.cheatSheetCommand {

  font-size: 1.2em;

  th.firstCol {
    width: 5cm !important;
  }

  tbody tr {
    min-height: 3cm;
  }
}




