@page {
  size: A4 landscape;
  margin: 5mm;

  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
  }
}

@greyBackground: #ababab;
@lightGreyBackground: #C3C3C3;

body {
  font-size: 0.8em;
}

// handle panels
.panel {

  .panel-body {
    padding-top: 1mm;

    font-size: 1.1em;

    ul {
      padding-left: 2mm;
      margin-bottom: 0mm;
    }
  }

  .panel-heading {
    background-color: @lightGreyBackground !important;

    h3.panel-title {
      font-size: 1.2em;
    }
  }
}

// remove borders from the table
table.cheatSheetTable {
  td {
    border: none 0px !important;
  }

  p {
    margin-bottom: 1mm;
  }
}

table.pdf {
  width: 100%;
  border-spacing: 0;

  td, th {
    border: solid 1px #000000;
    padding: 2pt;
  }

  td, tbody th {
    border-top: none 0px;
  }

  th {
    background-color: @greyBackground !important;
  }

  td {
    vertical-align: top;
  }
}

table.cheatSheetCommand {

  font-size: 1.2em;

  th.firstCol {
    width: 5cm !important;
  }

  tbody tr {
    min-height: 3cm;
  }
}




