@(troops: List[TroopDO])(implicit messages: Messages, main: views.html.main)

@main("mainmenu.armyspecials") {
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>@Messages("armyspecial.faction")</th>
        <th>@Messages("armyspecial.troop")</th>
        <th>@Messages("armyspecial.name")</th>
        <th>@Messages("army.recon")</th>
        <th>@Messages("armyspecial.desc")</th>
      </tr>
    </thead>
    <tbody>
    @for(troop <- troops) {
      <tr>
        <th>@troop.faction.name</th>
        <td>@troop.soldierDto.name</td>
        <td>@troop.soldierDto.armySpecial</td>
        <td>@troop.soldierDto.recon+</td>
        <td>@displayArmySpecialDescr(troop.soldierDto.armySpecial)</td>
      </tr>
    }
    </tbody>
  </table>
}