@(abilities: List[AbilityDO])(implicit messages: Messages,mainTpl: views.html.main)

@mainTpl("mainmenu.abilities") {
  <table class="table table-sm table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>@Messages("ability.name")</th>
        <th>@Messages("ability.desc")</th>
      </tr>
    </thead>
    <tbody>
    @for(ability <- abilities) {
      <tr>
        <th>@ability.name</th>
        <td>@displayAbiltityDescr(ability.name)</td>
      </tr>
    }
    </tbody>
  </table>
}