@(troops: List[TroopDO])
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Select a faction") {

  <table class="table">
    <thead>
      <tr>
        <th>troop.name</th>
        <th>troop.type</th>
        <th>troop.costs</th>
        <th>troop.size</th>
        <th>troop.movement</th>
        <th>troop.shoot</th>
        <th>troop.fight</th>
        <th>troop.survive</th>
        <th>troop.armour</th>
        <th>troop.vp</th>
        <th>troop.abilities</th>
        <th>troop.weapons</th>
      </tr>
    </thead>
    <tbody>
  @for(troop <- troops) {
    <tr>
      <td>@troop.name</td>
      <td>@troop.modelType</td>
      <td>@troop.points</td>
      <td>@troop.size</td>
      <td>@troop.speed - @troop.sprint</td>
      <td>@troop.shoot</td>
      <td>@troop.fight</td>
      <td>@troop.survive</td>
      <td>@troop.armour</td>
      <td>@troop.victoryPoints</td>
      <td>
        @if(troop.defaultTroopAbilities.isEmpty == false || troop.allowedWeaponTypes.isEmpty == false) {
          <ul>
            @for(ability <- troop.defaultTroopAbilities) {
              <li>
                @ability.ability.name
                @if(ability.defaultValue > 0) {
                  (@ability.defaultValue)
                }
              </li>

              @for(weaponType <- troop.allowedWeaponTypes) {
                <li>@weaponType.name</li>
              }
            }
          </ul>
        }
      </td>
      <td>
        @if(troop.defaultEquipment.isEmpty == false) {
          <ul>
            @for(weapon <- troop.defaultEquipment) {
              <li>
                @weapon.name
                @if(weapon.shootRange > 0) {
                  R@weapon.shootRange
                } else {
                  RF
                }
                @if(weapon.armorPircing > 0) {
                  ,AP@weapon.armorPircing
                }

                @for(ability <- weapon.defaultWeaponAbilities) {
                  ,@ability.ability.name
                  @if(ability.defaultValue > 0) {(@ability.defaultValue)}
                }
              </li>
            }
          </ul>
        }
      </td>
    </tr>
  }
    </tbody>
  </table>
}
