@(title: String, scripts: Html = Html(""))(content: Html)(implicit messages: Messages)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Messages("application.title") - @title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="@routes.HomeController.rosterMain()">@Messages("application.title")</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="@routes.HomeController.rosterMain()">@Messages("mainmenu.roster")</a></li>
            <li><a href="@routes.HomeController.displayAllAbilities()">@Messages("mainmenu.abilities")</a></li>
            <li><a href="@routes.HomeController.displayAllItems()">@Messages("mainmenu.items")</a></li>
            <li><a href="@routes.HomeController.displayAllArmySpecials()">@Messages("mainmenu.armyspecials")</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    @* MAIN CONTENT *@
    <div class="container">
    @content
    </div>
    @* EO MAIN CONTENT *@

  </body>

  <script type="text/javascript" src="@routes.HomeController.jsRoutes"></script>
  <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"> </script>
  <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"> </script>
  @scripts
</html>
