@import services.logic.FactionLogic
@this(langs: Langs)
@(currentActiveNav: String, scripts: Html = Html(""))(content: Html)(implicit messages: Messages)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Messages("application.title") - @Messages("currentActiveNav")</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="@routes.HomeController.rosterMain()">@Messages("application.title")</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        @* nav which is hidden when to small *@
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            @views.html.mainNav(routes.HomeController.rosterMain(), "mainmenu.roster", currentActiveNav)
            @views.html.mainNav(routes.HomeController.displayTroopsOfFaction(FactionLogic.getAllFactions()(0).name), "mainmenu.armyTroops", currentActiveNav)
            @views.html.mainNav(routes.HomeController.displayAllAbilities(), "mainmenu.abilities", currentActiveNav)
            @views.html.mainNav(routes.HomeController.displayAllItems(), "mainmenu.items", currentActiveNav)
            @views.html.mainNav(routes.HomeController.displayAllArmySpecials(), "mainmenu.armyspecials", currentActiveNav)
            @views.html.mainNav(routes.HomeController.displayCheatSheet(), "mainmenu.cheatsheet", currentActiveNav)
          </ul>

          <ul class="navbar-nav navbar-right">
          @for(selectLang <- langs.availables.filterNot(p => p.locale == messages.lang.locale)) {
            <li class="nav-item"><a class="nav-link" href="@routes.HomeController.changeLanguage(selectLang.code)">@Messages(s"lang.${selectLang.code}")</a></li>
          }
          </ul>
        </div>
        @* eo nav which is hidden when to small *@
      </nav>
    </header>
    @* MAIN CONTENT *@
    <main role="main" class="container">
    @content
    </main>
    @* EO MAIN CONTENT *@

  </body>

  <script type="text/javascript" src="@routes.HomeController.jsRoutes"></script>
  <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"> </script>
  <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.bundle.min.js")"> </script>
  @scripts
</html>
