@()
@* ACTION BUTTONS *@
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-info" id="roster_validate_army_btn"><span class="glyphicon glyphicon-check"></span></button>
    <a href="@routes.RosterController.getTablePdf()" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-print"></span></a>
    <a href="@routes.RosterController.exportArmy()" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-download"></span></a>
  </div>
</div>
@* ACTION BUTTONS *@