@()(implicit messages: Messages)
@* ACTION BUTTONS *@
<form target="_blank" class="pull-right">
  <button type="button" class="btn btn-info btn-sm roster_action_btn" id="roster_validate_army_btn"><span class="glyphicon glyphicon-check"></span> <small>@Messages("validate.btn")</small></button>
  <button formaction="@routes.RosterController.getTablePdf()" class="btn btn-sm btn-info roster_action_btn"><span class="glyphicon glyphicon-print"></span> <small>@Messages("print.all.btn")</small></button>
  <button formaction="@routes.RosterController.exportArmy()" class="btn btn-info btn-sm roster_action_btn"><span class="glyphicon glyphicon-download"></span> <small>@Messages("export.btn")</small></button>
  <button formaction="@routes.RosterController.exportAsManagedFigures()" class="btn btn-info btn-sm roster_action_btn"><span class="glyphicon glyphicon-download"></span> <small>@Messages("exportFigures.btn")</small></button>
  <button type="button" class="btn btn-info btn-sm" id="roster_open_import_army_btn"><span class="glyphicon glyphicon-upload"></span> <small>@Messages("import.open.btn")</small></button>
</form>
@* ACTION BUTTONS *@