@()(implicit messages: Messages)
@* ACTION BUTTONS *@
<div class="row">
  <div class="col-xs-6">
    <button class="btn btn-info" id="roster_validate_army_btn"><span class="glyphicon glyphicon-check"></span></button>
    <a href="@routes.RosterController.getTablePdf()" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-print"></span></a>
    <a href="@routes.RosterController.exportArmy()" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-download"></span></a>
  </div>
  <div class="col-xs-6">
    <form class="form-inline">
      <div class="form-group">
        <lable for="roster_upload_file">@Messages("upload.label")</lable>
        <input type="file" class="form-control" id="roster_upload_file" accept="application/json" />
      </div>
      <button type="button" id="roster_import_army_btn" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span> @Messages("upload.btn")</button>
    </form>
  </div>
</div>
@* ACTION BUTTONS *@